*, *::before, *::after {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

body {
	padding: 0;
	margin: 0;
	background: linear-gradient(to right, rgb(0, 0, 0), rgb(79, 79, 79));
}

.calculator-grid {
	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(120px, auto) repeat(5, 100px);

}

.calculator-grid > button {
	cursor: pointer;
	font-size: 2rem;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .75);

	transition: all .2s linear;
}

.calculator-grid > button:hover {
	opacity: 0.7;
}

.calculator-grid > button:active {
	transform: scale(0.95);
}

.output {
	grid-column: 1 / -1;
	background-color: rgba(0, 0, 0, .75);
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	flex-direction: column;
	padding: 10px;
	word-wrap: break-word;
	word-break: break-all;
}

.output .previous-item {
	color: rgba(255, 255, 255, .75);
	font-size: 1.5rem;
}

.output .current-item {
	color: rgba(255, 255, 255, 1);
	font-size: 2.5rem;
}

.color-lgr {
	background-color: rgb(185, 185, 185);
}

.color-gr {
	color: #fff;
	background-color: rgb(54, 54, 54);
}

.color-or {
	color: #fff;
	background-color: rgb(246, 127, 0);
}

.span-two {
	grid-column: span 2;
}
